//scss 
@import 'common/reset';
@import 'common/header';
@import 'common/mainscreen';
@import 'common/services';
@import 'common/offers';

//scss media_requests 
@import 'common/media_requests/headerMedia';
@import 'common/media_requests/mainscreenMedia';
@import 'common/media_requests/servicesMedia';
@import 'common/media_requests/offersMedia';

//variables
@import 'common/fonts';
@import 'common/icons';
@import 'common/variables';


* {
    box-sizing: border-box;
}

#visuallyhidden{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

.container{
    max-width: 1296px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 1024px){
    .container{
            padding: 0 15px 0;
    }
}