.coaches {

    // .coaches__body

    &__body {
        margin-top: 100px;
    }

    // .coaches__info

    &__info {
    }

    // .coaches__title

    &__title {
        font-family: $montserrat;
        font-size: $body-title-f-size;
        font-weight: $body-title-f-weight;
    }

    // .coaches__description

    &__description {
        margin-top: 24px;
        max-width: 668px;
        width: 100%;
        font-family: Montserrat;
        font-size: $description-f-size;
        font-weight: $description-f-weight;
        line-height: $description-f-l-height;
    }
}
.slider-wrapper {
}
.slider {
    margin-top: 48px;

    // .slider__slide

    &__slide {
        display: flex;
        flex-wrap: nowrap;
    }

    // .slider__item

    &__item {
        display: flex;
        flex-wrap: nowrap;
        max-width: 640px;
        width: 100%;
        box-shadow: 0 4px 30px rgba(207, 207, 207, 0.25);
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, 0.04);
        &:first-child{
            margin-right: 16px;
        }
    }

    // .slider__picture

    &__picture {
        border-radius: 2px;
        max-width: 298px;
        width: 100%;
    }

    // .slider__info

    &__info {
        padding: 0 0 0 33px;
    }

    // .slider__header

    &__header {
        margin-top: 43px;
    }

    // .slider__counter

    &__counter {
        font-family: $montserrat;
        font-size: $slider-counter-f-size;
        font-weight: $slider-counter-f-weight;
    }

    // .slider__title

    &__title {
        margin-top: 8px;
        font-family: $montserrat;
        font-size: $item-title-f-size;
        font-weight: $item-title-f-weight;
    }

    // .slider__subtitle

    &__subtitle {
        margin-top: 8px;
        font-family: $montserrat;
        font-size: $description-f-size;
        font-weight: $description-f-weight;
    }

    // .slider__body

    &__body {
        margin-top: 24px;
        position: relative;
    }

    // .slider__list

    &__list {
        display: flex;
        flex-direction: column;
    }

    // .slider__list-item

    &__list-item {
        margin-top: 16px;
        &:first-child{
            margin-top: 0;
        }
    }

    // .slider__list-category

    &__list-category {
        font-family: $montserrat;
        font-size: $description-f-size;
        font-weight: $description-f-weight;
        color:  $description-color;
        &::first-letter{
            text-transform: uppercase;
        }
        & span{
            opacity: 0.5;
            margin-right: 8px;
        }
    }

    // .slider__button

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 162px;
        height: 46px;
        border-radius: 3px;
        border: 2px solid #ff699f;
        color: $main-buttons-color;
        font-size: 16px;
        font-weight: 400;
        margin-top: 88px;
        &:hover{
            color: #fff;
            background-color:  #ff699f;
            transition: all .3s ease 0s;
        }
    }
}
