@import 'fonts';
@import 'variables';

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;

    // padding: 19px 0 10px 0;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        // z-index: 4;
    }

    // .header__body

    &__body {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 72px;
        align-items: center;
    }

    // .header__burger

    &__burger {
        display: none;
    }

    // .header__mob-button

    &__mob-button {
        display: none;
        font-family: $montserrat;
        font-size: 16px;
        font-weight: 400;
        color: $main-buttons-color;
        width: 162px;
        height: 46px;
        border-radius: 3px;
        border: 2px solid $main-buttons-color;
        justify-content: center;
        align-items: center;
        margin-left: 23px;
        margin-top: 56px;
        position: relative;
        text-transform: capitalize;
    }

    // .header__button

    &__button {
        width: 116px;
        height: 36px;
        margin-left: 11px;
        border-radius: 3px;
        border: 2px solid $nav-button-color;
        color: $nav-button-color;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            font-family: $montserrat;
            font-size: 16px;
            font-weight: 600;
            color: $nav-menu-item-color;
        }

        &:hover {
            background-color: $nav-menu-item-color;
            transition: all .3s ease 0s;

            a {
                color: $nav-menu-bg-color;
            }
        }
    }
}

.logo {
    text-decoration: none;
    font-family: $montserrat;
    font-size: $logo-f-size;
    font-weight: $logo-f-weight;
    color: $header-logo-color;
    position: relative;
    z-index: 5;
}

.menu {
    display: flex;
    position: relative;
    z-index: 4;

    // .menu__title

    &__title {
        font-family: $montserrat;
        font-size: 36px;
        font-weight: 700;
        text-align: left;
        width: 107px;
        height: 34px;
        margin: 0 0 15px 20px;
        text-transform: capitalize;
        display: none;
    }

    // .menu__print

    &__print {
        display: none;
        font-family: "Montserrat", sans-serif;
        color: $menu-print-color;
        font-size: $menu-print-f-size;
        transform: rotate(90deg);
        font-weight: $menu-print-f-weight;
        text-transform: capitalize;
        position: absolute;
        left: $menu-print-l-position;
        top: $menu-print-t-position;
    }
}

.list {
    display: flex;
    align-items: center;

    li {
        margin-right: 24px;
        position: relative;

        &:hover {
            cursor: pointer;
        }

        &::before {
            content: '';
            position: absolute;
            top: 15px;
            width: 0;
            height: 0;
            background-color: $nav-menu-item-color;
            z-index: 10;

        }

        &:hover {
            &::before {
                width: 100%;
                height: 1px;
                transition: all .3s ease 0s;
            }

        }
    }

    // .list__link

    &__link {
        color: $nav-button-color;
        text-transform: capitalize;
        text-decoration: none;
        font-family: $roboto;
        font-size: $menu-links-f-size;
        font-weight: $menu-links-f-weight;
    }
}