.mainscreen {
    critical: this;
    // .marketing__body

    &__body {
        critical: this;
        display: flex;
        padding-top: 72px;
    }

    // .marketing__info

    &__info {
        critical: this;
        display: flex;
        flex-flow: column;
    }

    // .marketing__title

    &__title {
        critical: this;
        font-family: $montserrat;
        font-size: $main-title-f-size;
        font-weight: $main-title-f-weight;
        text-align: left;
        text-transform: capitalize;
        margin-top: 73px;
        text-align: left;
        max-width: 382px;
    }

    // .marketing__subtitle

    &__subtitle {
        critical: this;
        font-family: $montserrat;
        font-size: $main-subtitle-f-size;
        font-weight: $main-subtitle-f-weight;
        text-align: left;
        text-transform: capitalize;
        margin-top: 16px;
    }

    // .marketing__description

    &__description {
        critical: this;
        font-family: $montserrat;
        font-size: $description-f-size;
        font-weight: $description-f-weight;
        text-align: left;
        margin-top: 40px;
        max-width: 383px;
        line-height: 24.54px;
        &::first-letter{
            critical: this;
            text-transform: uppercase;
        }
    }

    // .marketing__button

    &__button {
        critical: this;
        font-family: $montserrat;
        font-size: 16px;
        font-weight: 700;
        width: 161px;
        height: 46px;
        border-radius: 3px;
        border: 2px solid #ff699f;
        margin-top: 40px;
        color:  #ff699f;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            critical: this;
            color: #fff;
            background-color:  #ff699f;
            transition: all .3s ease 0s;
        }
    }

    // .marketing__picture

    &__picture {
        critical: this;
        margin-left: auto;
        img{
            critical: this;
            width: 100%;
            height: auto;
        }
    }
}

