$header-logo-color: #000000;
$nav-menu-item-color: #000000;
$nav-button-color: #000000;
$title-color: #000000;
$sub-title-color: #000000;
$description-color: #000000;
$main-buttons-color: #FF699F;
$icons-color: #FF699F;
$footer-logo-color: #FFFFFF;
$footer-copyright-cokor: #FFFFFF;
$footer-bg-color: #1F1F1F;
$nav-menu-bg-color: #fff;

$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
